<!--
<nb-layout>

  <nb-layout-header fixed>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  </nb-layout-footer>

</nb-layout>
-->

<nb-layout>
  <nb-sidebar>

    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Usuarios
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <a href="#">Listado</a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    
      <nb-accordion-item>
        <nb-accordion-item-header>
          Hoteles
        </nb-accordion-item-header>
        <nb-accordion-item-body></nb-accordion-item-body>
      </nb-accordion-item>
    
      <nb-accordion-item>
        <nb-accordion-item-header>
          Vehículos
        </nb-accordion-item-header>
        <nb-accordion-item-body></nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>


  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>